In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
### Load the datasets
df_source1 = pd.read_csv('source_1.csv')
df_source2 = pd.read_csv('source_2.csv')
df_matched_data = pd.read_csv('matched_data.csv')
df_predicted_matches = pd.read_csv('predicted_matches.csv')

In [4]:
### Check the shape of the datasets
print(df_source1.shape)
print(df_source2.shape)

(13238, 2)
(48943, 2)

In [5]:
### Check the datatype of the datasets
print(df_source1.dtypes)
print(df_source2.dtypes)

id       int64
name    object
dtype: object
id       int64
name    object
dtype: object

In [6]:
### Check columns names
print(df_source1.columns)
print(df_source2.columns)

Index(['id', 'name'], dtype='object')
Index(['id', 'name'], dtype='object')

In [7]:
### Check rows of the datasets
print(df_source1.index)
print(df_source2.index)

RangeIndex(start=0, stop=13238, step=1)
RangeIndex(start=0, stop=48943, step=1)

In [8]:
### Set to display all columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [9]:
### Display the first 10 dataset source_1
df_source1.head(10)

   id                                               name
0   0  Horses, asses, mules and hinnies; live, pure-b...
1   1           Horses; live, pure-bred breeding animals
2   2  Horses; live, other than pure-bred breeding an...
3   4  Horses, asses, mules and hinnies; live, other ...
4   5   Bovine animals; live, pure-bred breeding animals
5   6           Cattle; live, pure-bred breeding animals
6   7  Cattle; live, other than pure-bred breeding an...
7   8          Buffalo; live, pure-bred breeding animals
8   9  Buffalo; live, other than pure-bred breeding a...
9  10  Bovine animals; live, other than pure-bred bre...

#### For comparison purposes

In [10]:
df_matched_data.head(10)

                                            source_1        source_2
0                                    Cereals, barley          barley
1                    Other fresh or chilled potatoes        potatoes
2                     Fruit, edible; cherries, fresh        cherries
3          Bran, sharps and other residues, of maize      maize bran
4                                    Cereals, millet         millets
5    Oil seeds; sesamum seeds, whether or not broken     sesame seed
6                      Cigarettes containing tobacco      cigarettes
7                           Tomato, fresh or chilled        tomatoes
8  Pulp, bagasse and other waste of sugar manufac...       beet pulp
9  Oil seeds; sunflower seeds, whether or not broken  sunflower seed

In [11]:
df_predicted_matches.head(15)

    source_1  source_2
0        101       201
1        102       202
2        103       203
3        104       204
4        105       205
5        106       206
6        107       207
7        108       208
8        109       209
9        110       210
10       111       211
11       112       212
12       113       213
13       114       214
14       115       215

In [12]:
###Check the shape of the predicted
df_predicted_matches.shape

(15, 2)

In [13]:
### Merge the two datasets to make columns for for comparison
df_merged = df_source1.merge(df_source1, on=["id"], how="right")

In [14]:
df_merged.head()

,id,name_x,name_y
0,0,"Horses, asses, mules and hinnies; live, pure-b...","Horses, asses, mules and hinnies; live, pure-b..."
1,0,"Wood in the rough, even peeled, or roughly squ...","Horses, asses, mules and hinnies; live, pure-b..."
2,1,"Horses; live, pure-bred breeding animals","Horses; live, pure-bred breeding animals"
3,1,"Wood in the rough, even peeled, or roughly squ...","Horses; live, pure-bred breeding animals"
4,2,"Horses; live, other than pure-bred breeding an...","Horses; live, other than pure-bred breeding an..."

In [15]:
### Display the marged columns
df_merged.head()

,id,name_x,name_y
0,0,"Horses, asses, mules and hinnies; live, pure-b...","Horses, asses, mules and hinnies; live, pure-b..."
1,0,"Wood in the rough, even peeled, or roughly squ...","Horses, asses, mules and hinnies; live, pure-b..."
2,1,"Horses; live, pure-bred breeding animals","Horses; live, pure-bred breeding animals"
3,1,"Wood in the rough, even peeled, or roughly squ...","Horses; live, pure-bred breeding animals"
4,2,"Horses; live, other than pure-bred breeding an...","Horses; live, other than pure-bred breeding an..."

In [16]:
### Check the shape of the merged dateset
print(df_merged.name_x.shape)
print(df_merged.name_y.shape)

(15132,)
(15132,)

In [29]:
### Check if there's null values or rows in merged dataframe
df_merged.isna().sum()

id        0
name_x    0
name_y    0
dtype: int64

In [14]:
### Drop nulls
df_merged = df_merged.dropna(how='any',axis=0)

In [15]:
### Check the new dataframe
df_merged.isna().sum()

id        0
name_x    0
name_y    0
dtype: int64

In [16]:
print(df_merged.name_x.shape)
print(df_merged.name_y.shape)

(15132,)
(15132,)